                    table{
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 1rem;
                        border-collapse: collapse;
                        background-color: transparent;
                        display: table;
                        border-spacing: 2px;
                        border-color: grey; }

                    body{
                        font-family:"Helvetica Neue",Arial,sans-serif;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #212529;
                        text-align: left;
                        margin: 0; }

                    thead{
                        display: table-header-group;
                        vertical-align: middle;
                    }

                    th{
                        vertical-align: bottom;
                        border-bottom: 2px solid #eceeef;
                        color: #464a4c;
                        background-color: #eceeef;
                        padding: .3rem;
                        text-align: left;
                        font-weight: bold;
                    }
                        td, th{padding: .3rem;}
                    td{
                        vertical-align: top;
                        border-top: 1px solid #eceeef;
                    }
                    
                    a{text-decoration: none;}
                    
                    table a{color: #0275d8;
                            background-color: transparent;
                        }